<!--The content below is only a placeholder and can be replaced.-->
<StackLayout>
  <Label text="Tap the button"></Label>
  <Button text="TAP" (tap)="onTap()"></Button>
  <Label [text]="getMessage()" textWrap="true"></Label>
</StackLayout>
